// ----------------------
// Document contents
// ----------------------

.element {
}

.element__connect {
  width: 12px;
  height: 12px;
  background: #fff;
  border: 1px solid $primary;
  border-radius: 50%;
  //display: none;
}

.element__nudge {
  width: 12px;
  height: 12px;
  background: #fff;
  border: 1px solid $primary;
  //display: none;
}

 
// .element__connect.vis,
// .element__nudge.vis {
//   display: block;
// }
 

// ----------------------
// Selected (design mode only)

.workspace .element--selected {
  outline: 3px solid $primary;
}

// ----------------------
// Drag & drop

.workspace .element--dropped:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba($primary, 0.1); // Overlay background color
  pointer-events: none;
}

.workspace .dragging--file:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba($purple, 0.15); // Overlay background color
  pointer-events: none;
}

// ----------------------
// Allow selection of left/right aligned elements within their container

.element.s.pg > .element.s.al {
  z-index: 2;
}

.element.s.pg > .element.s.ar {
  z-index: 2;
}

// Make the inline text editor to honor node text aligment
.element textarea {
  text-align: inherit;
}

// Disallow image dragging while in design mode
.page--design .element > img {
  -webkit-user-drag: none;
}
