.font-size-dropdown {
    min-width: 3.75rem;   
    transform: translate(0px, 30px);
}

// Hide spinners from numeric inputs 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  appearance: none;
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield; // FF
}
