// Panes
.pane {
}

.pane__title {
}

.pane--left {
  width: 21em;
  min-width: 21em;
}

.pane--right {
  width: 21em;
  min-width: 21em;
}

// Library

.library {
  gap: 0.25rem;
}

.library__item {
  @extend .rounded;
  transition: box-shadow 0.2s ease-out;
  cursor: move;
  cursor: grab; // Safari
  border: 1px solid $border-color;
  @include font-size($input-font-size-sm);
  background: #fff;
  color: $body-color;
  transition: box-shadow 0.1s ease-out;

  &:hover {
    @extend .shadow-sm;
  }
}

// Ghost image fro D&D operation

.library__item-ghost {
  @extend .rounded;
  border: 1px solid $border-color;
  @include font-size($input-font-size-sm);
  // Force styles to apply to dragged nodes as well
  background: #fff !important;
  color: $body-color !important;
  white-space: nowrap;
}

// Inspector

#tab-code,
#tab-design {
  height: calc(100vh - #{$header-height} - 50px);
}
