html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $gray-100;
}

.header {
  //background: $gray-100;
  //position: relative;
}

.nav-tabs {
  background: $gray-300;
}

.nav-link {
  background: $gray-300;
}

// .nav-pane {
//     position: absolute;
//     top: 3em;
//     left: 0;
//     z-index: 1;
//     background: white;
//     box-shadow: 0 1px 6px $gray-500;
// }

// Sections

.section {
}

.section__title {
  text-transform: uppercase;
  font-size: 12px;
  color: $gray-600;
  font-weight: bold;
}

.btn-light {
  border: 1px solid $input-border-color;
}

.alert-top {
  position: absolute;
  width: 100%;
  z-index: 3;
  animation: slide-up 0.25s ease-in 5s forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}
