// Utility classes

.unselectable {
  cursor: default;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

// Fonts

.large {
  font-size: 16px !important;
}

.xlarge {
  font-size: 21px !important;
}

.fw-500 {
  font-weight: 500;
}

// Forms

.label-sm {
  @include font-size($input-font-size-sm);
}

// Borders

.border-dashed {
  border-style: dashed !important;
}

.border-dotted {
  border-style: dotted !important;
}

// Backgrounds

// Misc

.preformatted {
  white-space: pre-wrap;
}

.rotate-90 {
  transform: rotate(90deg);
}



// Animation

// Scrolling

.scroll-y {
  overflow-y: auto;
}

.scroll-x {
  overflow-x: scroll;
}

// Widths

.w-33 {
  width: 33%;
}

// Color picker

input[type="color"].transparent {
  position: relative;
}

input[type="color"].transparent:after {
  content: "None";
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  font-size: 12px;
  text-align: center;
  padding: 0.1875rem 0;
  background: #fff;
  //@extend .text-muted;
}
