// Main working area

// 1. Do not stretch chrome/device view

.workspace {
  height: calc(100vh - #{$header-height});
  position: relative;
}

.workspace--design {
  overflow: scroll;
  // See https://github.com/PolymerElements/iron-list/issues/18#issuecomment-149725722
  transform: translateZ(0);
  padding: 0.375rem;
}

.workspace--preview {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  align-items: start; // 1.
}

.dragging--file.workspace:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba($secondary, 0.5);
}
