// Main working area

// 1. Do not stretch chrome/device view

.workspace-wrapper {
  height: calc(100vh - #{$header-height});
  overflow: scroll;
  position: relative;
}

.workspace {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

// .workspace--design { 
//   // See https://github.com/PolymerElements/iron-list/issues/18#issuecomment-149725722
//   transform: translateZ(0);
// }

.workspace--preview {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  align-items: start; // 1.
}

