// Main working area

// 1. Do not stretch chrome/device view

.workspace-wrapper {
  //height: calc(100vh - #{$header-height});  
  position: relative;
  overflow: scroll;
}

.workspace {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: white;
  border: 1px solid $border-color;
}

// .workspace--design { 
//   // See https://github.com/PolymerElements/iron-list/issues/18#issuecomment-149725722
//   transform: translateZ(0);
// }