// Main working area

// 1. Do not stretch chrome/device view 

.workspace {
  height: calc(100vh - #{$header-height});
}

.workspace--design {
  overflow-y: scroll;
  // See https://github.com/PolymerElements/iron-list/issues/18#issuecomment-149725722
  transform: translateZ(0);
}

.workspace--preview {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);  
  align-items: start; // 1. 
}